@font-face {font-family: "iconfont";
  src: url('/iconfont.eot?t=1550734004107'); /* IE9 */
  src: url('/iconfont.eot?t=1550734004107#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABjgAAAJLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEYQE2AiQDCAsGAAQgBYRtBy4bhQUR1Yttsr8WPYbDRlF/lkqTprg2RNMsJMQ1Vq05qPv92i80z+3xSW9Aj4zHA/HwOEZ7f9uZSLzuqHazRFVJUAqZ0LhQoLuHpG5jig0hd2s3bV8AroIJIEObEzxE+Q840AtfqfUqWLwMvzfXHKkaFaGe5Cx69A8pUHppRnrpgEMZAPUJ3gg/cN4MuJz+BHqQUQeU25405sAxAQNLA90Do8gKJfCGsQte4GMCtQbNi7WN2/ezwl4ViLOnThziQlhRWK5aqGw4WMR9U53upsfci74fP4pqkorMbth9fMNR/cwp6Mr/PSBEEtDxCmTMoxD7G9M7STAuq02PUY5VG3xG4BJHtQv219nV9aAfKp5J6R0RIIGSTLehe9LPItVXnbfRUFkftZqqjh4UDVrz8oeSRw++/3kiBfyX1/MKImj97TY1FPD0ehT8rxjmheqdeIKfoRw4VAy17UxFUzZ6k7ZJKxNq1eJ/2N/q9VRLx5nzoVrH+b1VBjJk1cbJws6jQp0FVKq2iFpzNh2v0+YciVKDWTcBQrOHSBqtI2v2hCzsK1To9AuVmiOj1sFwYZ3JcJw6MI6CC0w/cDNl7bpFxbVXNK84cl4d8U/k6mLQN105d8GMvMSW+jaDiAbNlOAMnsMYCQqTx1kaK1L2baub3tTMlFZqdWAcBReYfuBmyjqYLKry+SuaVxy5o60u+0Subnbom24AeTHkQW2P8kp9m0FEg2ZKcAbzMEaC0jzP4yyNnZAs+9YZp4camu1N6QfKWRe2Na2d1myHXyerFQAAAA==') format('woff2'),
  url('/iconfont.woff?t=1550734004107') format('woff'),
  url('/iconfont.ttf?t=1550734004107') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('/iconfont.svg?t=1550734004107#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exit:before {
  content: "\e60e";
}

